.page-header
  %h1= @user.name

%table.table
  %thead
    %tr
      %th Description
      %th Time
      %th date
  %tbody
    - @user.lightning_talks.each do |talk|
      %tr
        %td= talk.description
        %td= talk.talk_time.strftime('%l:%M %p')
        %td= talk.date.strftime("%A %m/%d")
